/********************* Head Bar **********************/
header {
    background-color: #000;
    height: 40px;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    z-index: 1001;
}

header h1 {
    text-align: center;
    font-size: 18pt;
    color: #fff;
    margin: 0;
}

/******************** Location List *****************/
.list-locations {
    font-size: 14pt;
    background-color: black;
    color: dimgray;
    position: absolute;
    width: 270px;
    height: auto;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    left: 0;
    top: 40px;
    bottom: 0;   
    z-index: 1001;
}


.filter-keyword {
    font-size: 13pt;
    height: 40px;
    width: 210px;
    padding: 0 20px;
    border: none;
    color: gray;
}

.location-list {
    list-style: none;
    padding-left: 0;
    font-weight: 600;
}

.location-item{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 30px;
    padding: 5px 10px;
}

.location:hover {
    color: white;
    cursor: pointer;
}

.location.selected { 
    color: #fff; 
}


/**************** InfoWindow ******************/ 
.map-location-info {
    height: 140px;
    width: 200px;
    box-flex:  wrap;
    
}

.map-location-name {
    width: 100%;
}

.map-location-address {
    width: 50%;
}

.map-location-photo {
    width: 50%;
}



