.list-locations {
    font-size: 14pt;
    background-color: black;
    color: dimgray;
    position: absolute;
    width: 250px;
    height: 100%;
    
    -moz-box-sizing: border-box;
         box-sizing: border-box;

    left: 0;
    top: 0;   
    
    z-index: 1001;
}


.filter-keyword {
    font-size: 13pt;
    height: 40px;
    width: 210px;
    padding: 0 20px;
    border: none;
    color: gray;
}

.location-list {
    list-style: none;
    padding-left: 0;
    
}

.location{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 30px;
    padding: 5px 10px;
}

.location:hover {
    color: white;
}

.location:active { 
    color: #fff; 
}



