.app {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
}

/********************* Head Bar **********************/
header {
    background-color: #000;
    height: 40px; 
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1001;

    display: -webkit-flex;
    display: flex;
    flex-direction: row;  
}


.title {
    align-self: center;
    margin: 0 auto;
}

.title h1 {
    font-size: 18pt;
    width: 230px; 
    color: #fff;
    margin: 0;
    z-index: 1000;
}

.hamToggle {
    align-self: center;
    color: #fff;
    font-size: 18pt;
    margin-left: 10px;
    width: min-content;
    z-index: 1003;
}

/******************** Location List *****************/
.list-locations {
    font-size: 14pt;
    background-color: black;
    color: dimgray;
    position: fixed;
    width: 270px;
    height: auto;
    
    left: 0;
    top: 40px;
    bottom: 0;   
    z-index: 1001;
}

.list-locations.hidden {
    display: none;
}


.filter-keyword {
    font-size: 13pt;
    height: 40px;
    width: 230px;
    padding: 0 20px;
    border: none;
    color: gray;
}

.location-list {
    list-style: none;
    padding-left: 0;
    font-weight: 600;
}

.location-item{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 30px;
    padding: 5px 10px;
}

.location:hover {
    color: white;
    cursor: pointer;
}

.location.selected { 
    color: #fff; 
}


/**************** InfoWindow ******************/ 
.map-location-info {
    height: 140px;
    width: 200px;
    box-flex:  wrap;
}

.map-location-name {
    font-size: 14pt;
    font-weight: 500 ; 
    width: 100%;
}

.map-location-address {
    padding-top: 5px;
}

.map-location-address p {
    margin-bottom: 3px;
    margin-top: 0;
}

.map-location-address .label {
    font-weight: 500;
}


